*.[oa]
configure
config.log
config.status
config.rpath
config.h
config.h.in
cscope.out
cscope.in.out
cscope.po.out
doxy.config
missing
install-sh
autom4te.cache
compile
Makefile
Makefile.in
Makefile.in.in
aclocal.m4
*.py[oc]
*.pydevproject
*.project
*.cproject
*kdev4
*.patch
*.settings
*~
*.swp
src/rolekit/config/__init__.py
config/org.fedoraproject.rolekit1.policy
config/rolekit.service
/test-driver
/test-suite.log
