*.[oa]
configure
config.log
config.status
config.rpath
config.h
config.h.in
cscope.out
cscope.in.out
cscope.po.out
doxy.config
Makefile
Makefile.in
Makefile.in.in
aclocal.m4
*.py[oc]
*.pydevproject
*.project
*.cproject
*.settings
config/__init__.py
